@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family= SC+SC:wght@300;400;500;600;700&display=swap");

.container {
  font-family: "Playfair Display", serif;
  color: #78350f;
  background-color: #f2efea;
  background-image: url(/public/redox-01.png);
}
.reveal_box {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.header {
  text-align: center;
  padding: 0rem;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/public/esposos.jpeg");
  background-position-x: center;
  background-position-y: 65%;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  overflow: hidden;
  animation: 2s 0.5s both paused scale-in-down;
  animation-play-state: running;
  position: relative;
}

.headerContent {
  padding: 0px 2px 60px 2px;
  box-sizing: border-box;
  top: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.75) 100%
  );
}

.title {
  font-size: 3em;
  font-weight: 500;
  font-family: "Great Vibes", cursive;
  margin-bottom: 10px;
  padding-top: 100px;
  margin-top: 0px;
}
.subtitle {
  font-family: "Cormorant SC", serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 10px;
}
@keyframes scale-in-down {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
.date {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: 500;
}

.main {
  max-width: 2400px;
  margin: 0 auto;
  padding: 0rem;
}

.section {
  background-color: white;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter {
  background-color: #937a3e;
  color: white;
  border-radius: 0px;
  background-image: url(/public/redox-01.png);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionTitle {
  display: flex;
  font-family: "Great Vibes", cursive;
  font-size: 3em;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.countdownItem {
  text-align: center;
}

.countdownValue {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Cormorant SC";
}
.ImageChurch {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  max-width: 1600px;
}
.sectionSubtitleChurch {
  padding: 0px 2px 60px 2px;
  box-sizing: border-box;
padding-top: 20px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.75) 100%
  );
  margin: 0px;
}
.containerBtn{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  left: 30px;
}
.churchContent {
  text-align: center;
  padding: 0rem;
  background-image: url("/public/iglesia_cristiana_elohim.jpeg");
  /* background-image: url('https://www.bodachiaychance.com/Imagenes/Portada-2.jpg');*/
  background-position-x: center;
  background-position-y: 65%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  color: #fff;
  text-align: center;
  overflow: hidden;
  animation: 2s 0.5s both paused scale-in-down;
  animation-play-state: running;
  position: relative;
  gap: 10px;
}

.whatsappButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  background-color: #25D366;
  border-radius: 50px;
  padding: 20px 20px;
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
  text-decoration: none;
  width: 100%;
  letter-spacing: 2px;
  max-width: 250px;
  font-weight: 600;
}
a.whatsappButton{
  max-width: 250px;
}


.locationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  background-color: #2e10c4;
  border-radius: 50px;
  padding: 20px 20px;
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
  position: relative;
  bottom: 0px;
  width: 100%;
  max-width: 250px;
  margin: 0px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}


.mapContainer {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 0.5rem;
}
.textInvitation {
  text-align: center;
  padding: 0px 10px;
  margin: 0px;
  max-width: 1200px;
}
.textInvitation p{
  font-family: "Cormorant SC", serif;
  font-size: 1.8em;
}
.textInvitationBiblia p {
  font-size: 1.5em;
}
.dressCode {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.dressCodeItem {
  text-align: center;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.galleryImage {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.giftText {
  text-align: center;
  margin-bottom: 1rem;
}

.giftRegistry {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.giftLink {
  text-align: center;
  color: #78350f;
  text-decoration: none;
  transition: color 0.3s;
}

.giftLink:hover {
  color: #92400e;
}

.footer {
  text-align: center;
  padding-top: 0px;
  margin: 0px;
}
.footer p {
  font-size: 10px;
}
@media (max-width: 768px) {
  .containerBtn{
    flex-direction: column;
  }
}
@media (min-width: 768px) {
 
  .title {
    font-size: 5ch;
    letter-spacing: 10px;
  }

  .date {
    font-size: 2rem;
  }

  .sectionTitle {
    font-size: 2.5rem;
  }

  .countdownValue {
    font-size: 3rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .header,.churchContent {
      background-attachment: scroll; 
      max-width: 100vh;
      max-height: 100vh;
  }
}